<terra-base-toolbar>
	<terra-button [inputIsTertiary]="true"
				  [inputIcon]="'icon-add'"
				  [inputTooltipText]="'add'"
				  (outputClicked)="createCredentials()">
	</terra-button>
</terra-base-toolbar>

<div class="info-box-container">
	<terra-info-box>
        <span body>
			<b>Host:</b>
    	</span>
		<div buttons>
			<terra-button [inputIcon]="'icon-edit'"
						  [inputTooltipText]="'edit'">
			</terra-button>
			<terra-button [inputIsSecondary]="true"
						  [inputIcon]="'icon-delete'"
						  [inputTooltipText]="'delete'">
			</terra-button>
		</div>
	</terra-info-box>
</div>