<!-- TOOLBAR -->
<terra-base-toolbar>
    <terra-button
        [inputIsDisabled]="isLoading"
        [inputIcon]="'icon-save'"
        (outputClicked)="onSaveBtnClicked()">
    </terra-button>
</terra-base-toolbar>

<div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <terra-portlet [inputPortletHeader]="'basic.process' | translate:lang">
            <terra-checkbox
                [inputCaption]="'basic.itemExport' | translate:lang"
                (valueChange)="setItemExportCheckboxValue()"
                #viewChildItemExportCheckbox>
            </terra-checkbox>
            <terra-checkbox
                [inputCaption]="'basic.stockExport' | translate:lang"
                (valueChange)="setStockExportCheckboxValue()"
                #viewChildStockExportCheckbox>
            </terra-checkbox>
            <terra-checkbox
                [inputCaption]="'basic.priceExport' | translate:lang"
                (valueChange)="setPriceExportCheckboxValue()"
                #viewChildPriceExportCheckbox>
            </terra-checkbox>
            <terra-checkbox
                [inputCaption]="'basic.orderImport' | translate:lang"
                (valueChange)="setOrderImportCheckboxValue()"
                #viewChildOrderImportCheckbox>
            </terra-checkbox>
        </terra-portlet>
        <terra-portlet [inputPortletHeader]="'basic.commission.commission' | translate:lang">
            <terra-number-input
                [inputName]="'basic.commission.commissionInPercent' | translate:lang"
                [(ngModel)]="commission">
            </terra-number-input>
        </terra-portlet>
        <terra-portlet
            [inputPortletHeader]="'basic.taxCategories.taxCategories' | translate:lang"
            [inputButtonList]="_syncTaxCategoriesButtonList">
            <b>{{'basic.taxCategories.lastUpdate' | translate:lang}}:</b> {{taxCategoriesLastUpdate}}
        </terra-portlet>
        <terra-portlet
                [inputPortletHeader]="'basic.brands.brands' | translate:lang"
                [inputButtonList]="_syncBrandsButtonList">
            <b>{{'basic.brands.lastUpdate' | translate:lang}}:</b> {{brandsLastUpdate}}
        </terra-portlet>
        <terra-portlet
                [inputPortletHeader]="'basic.exportStock.exportStock' | translate:lang">
            <terra-select-box
                    [inputListBoxValues]="_stockCalculationList"
                    [(ngModel)]="considerVariationSettings"
                    [inputName]="'basic.exportStock.exportStock' | translate:lang">
            </terra-select-box>
        </terra-portlet>
    </div>
</div>
