<!-- TOOLBAR -->
<terra-base-toolbar>
    <terra-button
        [inputIsDisabled]="isLoading"
        [inputIcon]="'icon-save'"
        (outputClicked)="onSaveBtnClicked()">
    </terra-button>
</terra-base-toolbar>

<div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <terra-portlet [inputPortletHeader]="'basic.process' | translate:lang">
            <terra-checkbox
                [inputCaption]="'basic.itemExport' | translate:lang"
                (valueChange)="setItemExportCheckboxValue()"
                #viewChildItemExportCheckbox>
            </terra-checkbox>
            <terra-checkbox
                [inputCaption]="'basic.offerExport' | translate:lang"
                (valueChange)="setOfferExportCheckboxValue()"
                #viewChildOfferExportCheckbox>
            </terra-checkbox>
            <terra-checkbox
                [inputCaption]="'basic.orderImport' | translate:lang"
                (valueChange)="setOrderImportCheckboxValue()"
                #viewChildOrderImportCheckbox>
            </terra-checkbox>
        </terra-portlet>
        <terra-portlet
            [inputPortletHeader]="'basic.taxCategories.taxCategories' | translate:lang"
            [inputButtonList]="_syncTaxCategoriesButtonList">
            <b>{{'basic.taxCategories.lastUpdate' | translate:lang}}:</b> {{lastUpdate}}
            <!--<terra-info-box>-->
                <!--<span body>-->
                    <!--<b>{{'basic.taxCategories.lastUpdate' | translate:lang}}:</b> "DATUM"-->
                <!--</span>-->
                <!--<div buttons>-->
                    <!--<terra-button [inputIcon]="'icon-process_loop'"-->
                                  <!--[inputTooltipText]="'sync'"-->
                                  <!--(outputClicked)="syncTaxCategories()">-->
                    <!--</terra-button>-->
                <!--</div>-->
            <!--</terra-info-box>-->
            <!--<div class="container-fluid">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8">-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--Letzte Aktualisierung: "DATUM"-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </terra-portlet>
    </div>
</div>