<!-- TOOLBAR -->
<terra-base-toolbar>
    <terra-button
            [inputIsDisabled]="isLoading"
            [inputIcon]="'icon-save'"
            (outputClicked)="onSaveBtnClicked()">
    </terra-button>
</terra-base-toolbar>

<div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <terra-portlet [inputPortletHeader]="'account.title' | translate:lang">
            <terra-text-input
                    class="text_input"
                    [inputName]="'account.username' | translate:lang"
					[inputTooltipText]="'account.tooltip.username' | translate:lang"
                    [(ngModel)]="username">
            </terra-text-input>
            <terra-text-input
                    class="text_input"
                    [inputName]="'account.password' | translate:lang"
					[inputTooltipText]="'account.tooltip.password' | translate:lang"
                    [(ngModel)]="password">
            </terra-text-input>
            <terra-text-input
                    class="text_input"
                    [inputName]="'account.productKey' | translate:lang"
					[inputTooltipText]="'account.tooltip.productKey' | translate:lang"
                    [(ngModel)]="productKey">
            </terra-text-input>
        </terra-portlet>
    </div>
</div>  